body {
    margin: 0;
    color: white;
    background: #F16541;
}
header {
    background: #BF112E;
    border-bottom: 5px solid #02173E;
}
header h1{
    margin: 0;
    padding: 15px;
}
main {
    padding: 15px;
}
main h2{
    margin: 0;
}
main hr{
    margin: 10px 0;
}
#decks {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}
.deck {
    flex-basis: 400px;
    background: rgba(255, 255, 255, 0.2);
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    min-width: 400px;
}
.deck:hover{
    background: rgba(255, 255, 255, 0.3);
}
#decks a{
    color: white;
    text-decoration: none;
}
.deck h3{
    text-align: center;
}
